body {
    margin: 0;
    overflow: hidden;
}

#fatalcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    font-size: x-large;
    margin: 10px;
}

#fatal {
    margin-left: -50%;
}